<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">Consulta</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form_for('/profiles/index', method: :get) do |form| %>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <% value_form = params[:profile][:user_name] rescue "" %>
                  <%= text_field_tag :name, "", class:"form-control border border-primary", placeholder:"Procure por um amigo", name:"profile[user_name]", value: value_form %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Consultar</button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
</div>
